{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block content %}

<!-- Start Main Page Content -->
<div class="row" id="content-columns">
	<div class="col-xs-12" id="content-column">
		<!-- Add Student Button -->
		<a class="btn btn-primary" href="#">Додати Студента</a>
		<div>
			<!-- Start Students Listing -->
			<div class="text-center">
				<nav>
					<ul class="pagination">
						<li><a href="#">&#8592;</a></li>
						<li><a href="#">Жовтень</a></li>
						<li><a href="#">&#8594;</a></li>
					</ul>
				</nav>
			</div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th rowspan="2" scope="col">#</th>
						<th rowspan="2" scope="col">Студенти</th>
						<th scope="col">Ср 1</th>
						<th scope="col">Чт 2</th>
						<th scope="col">Пт 3</th>
						<th scope="col">Сб 4</th>
						<th scope="col">Нд 5</th>
						<th scope="col">Пн 6</th>
						<th scope="col">Вт 7</th>
						<th scope="col">Ср 8</th>
						<th scope="col">Чт 9</th>
						<th scope="col">Пт 10</th>
						<th scope="col">Сб 11</th>
						<th scope="col">Нд 12</th>
						<th scope="col">Пн 13</th>
						<th scope="col">Вт 14</th>
						<th scope="col">Ср 15</th>
						<th scope="col">Чт 16</th>
						<th scope="col">Пт 17</th>
						<th scope="col">Сб 18</th>
						<th scope="col">Нд 19</th>
						<th scope="col">Пн 20</th>
						<th scope="col">Вт 21</th>
						<th scope="col">Ср 22</th>
						<th scope="col">Чт 23</th>
						<th scope="col">Пт 24</th>
						<th scope="col">Сб 25</th>
						<th scope="col">Нд 26</th>
						<th scope="col">Пн 27</th>
						<th scope="col">Вт 28</th>
						<th scope="col">Ср 29</th>
						<th scope="col">Чт 30</th>
						<th scope="col">Пт 31</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><a title="Редагувати" href="#">Остапенко Костя</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
							</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
						<td>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- End Students Listing -->
			
		</div>
	</div>
</div>
<!-- End Main Page Content -->

<!-- End Container -->
<!-- Javascripts Section -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock content %}